<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- <iframe [src]="pdfFile" seamless width="100%" height="80%" *ngIf="pdfFile"></iframe>  -->
  <ion-list>
    <ion-item *ngFor="let i of data" >
      <ion-label (click)="openPdf(i.iDALBV)">{{i.nOMCLI}} - {{i.nUMDOC}}</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <br>
  <!-- <ion-button expand="block" (click)="openPdf()">
    Abrir PDF
  </ion-button>
  <br> -->
  <ion-item>
    <ion-label>Seleccionar contacto</ion-label>
    <ion-select interface="action-sheet" class="custom-options" (ionChange)="selectContact($event)">
      <ion-select-option *ngFor="let c of contacts" [value]="c">{{c.nOMBRE}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">NIF</ion-label>
    <ion-input [(ngModel)]="nif"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Texto Email</ion-label>
    <ion-textarea [(ngModel)]="textemail"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Incidencia</ion-label>
    <ion-toggle slot="start" name="blueberry" [(ngModel)]="incidencia" (ionChange)="change()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Incidencia de la firma</ion-label>
    <ion-textarea [disabled]="!incidencia" [(ngModel)]="textIncidencia"></ion-textarea>
  </ion-item>
  <div class="signature__div">
    <signature-pad #signatureCanvas [options]="signaturePadOptions" id="signatureCanvas" (onBeginEvent)="drawStart()"
      (onEndEvent)="drawComplete()"> </signature-pad>
  </div>
  <ion-row>
    <ion-col>
      <ion-button (click)="clear()">
        Limpiar
      </ion-button>
    </ion-col>
    <ion-col class="send__col">
      <ion-button (click)="send()">
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>