<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="filter($event.detail.value)"></ion-searchbar>
  <ion-card *ngFor="let i of invoices">
    <ion-card-header (click)="onClick(i.iDALBV)">
      <ion-card-subtitle>Orden ruta - cli.orden - {{i.sERIE}}/{{i.nUMDOC}}</ion-card-subtitle>
      <ion-card-title>
        <ion-checkbox checked="true" disabled></ion-checkbox>
        Pendiente
      </ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="onClick(i.iDALBV)">
      <ion-row>
        <ion-col>
          {{i.nOMCLI}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Calle
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{i.pOBCLI}}
        </ion-col>
        <ion-col>
          {{i.tOTBULTOS}}
        </ion-col>
        <ion-col>
          Peso
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          CP
        </ion-col>
        <ion-col>
          Telefono 1
        </ion-col>
        <ion-col>
          Telefono 2
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col class="card__col">
          {{i.bASE}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>