ion-card {
    border-top: solid 3px rgb(40, 140, 253) 
}

.card__col{
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
}

ion-row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.check {
    margin-left:  -1.5rem;
} 

ion-checkbox[disabled] {
    opacity: 1 !important;
}

ion-card-content {
    margin-top: -0.5rem;
}