<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="sing()">
        <ion-icon  size="large" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
  <ion-searchbar [(ngModel)]="street" animated #q (keyup.enter)="search(q.value)"  (ionChange)="ionChange($event)" placeholder="Buscar cliente" animated></ion-searchbar>
  <ion-label>Día</ion-label>
  <ion-select  [(ngModel)]="daySelect" placeholder="Buscar" cancelText="Cancelar"  okText="Aceptar" (ionChange)="load()" >
    <ion-select-option value="1">1</ion-select-option>
    <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="3">3</ion-select-option>
    <ion-select-option value="4">4</ion-select-option>
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="15">15</ion-select-option>
    <ion-select-option value="30">30</ion-select-option>
    <ion-select-option value="60">60</ion-select-option>
    <ion-select-option value="365">365</ion-select-option>
  </ion-select>
</ion-item>
  <ion-card *ngFor="let i of invoices">
    <ion-card-header >
      <ion-item class="check">
        <ion-card-title>Expedición: {{i.eXPEDICION}} - DOC: {{i.nUMDOC}} </ion-card-title>
        <ion-icon slot="end" name="navigate-outline" (click)="navigate(i.dIRENT1, i.pOBCLI, i.dTOENT)"></ion-icon>
      </ion-item>
      <ion-item class="check">
        <ion-checkbox (click)="addValue($event, i.iDALBV, i.dIRENT1, i.pOBCLI, i.dTOENT, i)"></ion-checkbox>
        <ion-label>Seleccionar</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          {{i.nOMCLI}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{i.dIRENT1}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Fecha Expedición: {{i.fECHAEXP}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{i.pOBCLI}}
        </ion-col>
        <ion-col>
          Bultos: {{i.tOTBULTOS}}
        </ion-col>
        <ion-col>
          {{i.tOTPESO}} kg
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{i.dTOENT}}
        </ion-col>
        <ion-col>
          {{i.tELENT1}}
        </ion-col>
        <ion-col>
          {{i.tELENT2}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col class="card__col">
          <h4>{{i.bASE | number : '1.2-2'}} € </h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>