ion-card {
    border-top: solid 3px rgb(40, 140, 253) 
}

.card__col{
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
}

ion-row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.check {
    margin-left:  -1.5rem;
} 

ion-checkbox[disabled] {
    opacity: 1 !important;
}

ion-card-content {
    margin-top: -0.5rem;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-avatar { 
    width: 3em;  
    height: 3em;  
}

